*{
    margin: 0;
    padding: 0;
}
.game{
   display: flex;
   justify-content: center;
   align-items: center;
}
.option{
    margin-top:40px;
    margin-left:30px;
    cursor: pointer;
}
h1{
    background:transparent;
    border:3px solid white;
    border-bottom-color: black;
    margin:10px;
    display:flex;
    justify-content: center;
}
body{
    background-color:floralwhite;
}
.scoreboard{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4rem;
    font-size:2rem;
    margin:3rem;
}

#you,#comp{
    font-size:3.6rem;
}
/*.option:hover{
  opacity: 0.3;
}*/
.match{
    left:50%;
    background-image:linear-gradient(blue,violet);
    position: absolute;
    height:70px;
    width:100px;
    border-radius: 20px;
    font-size: medium;
    border:none;
}
