*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'inter',sans-serif;
}
header{
    color:#FF00FF;
    top:20px;
    font-family:sans-serif;
    text-shadow: 0 0 30px violet;
    text-align: center;
}
.game-container{
    display:flex;
    justify-content: center;
    gap:10%;
    flex-wrap: wrap;
    padding:8% 5%;
}
.game-card:hover {
  box-shadow: 0 0 40px rgba(0, 230, 255, 0.2);
  transition: box-shadow 0.5s ease;
  transform: translateY(-10px) scale(1.03);
}
@media(max-width:768px){
main {
    flex-direction: columns;
    align-items:center;
}}

.game-card{
    background-image: linear-gradient(#050c5c,#020c77);
    border-radius: 5px;
    font-size: medium;
    font-weight: bolder;
    width:20%;
    height:30%;
    padding:13px;
    text-align: center;
    transition: trasform 0.3s ease;
    color:#4ADE80;
    opacity:0.8;
}
.play-btn{
    display:inline-block;
    background-image: linear-gradient(45deg,blue,darkblue,lightblue);
    width:auto;
    height:auto;
    padding:10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}
